<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.mogujie.com/app_mgj_v511_book/clothing?_adid=5503509D-800B-45EF-B767-F6586FFF165E&amp;_did=0f607264fc6318a92b9e13c65db7cd3c&amp;_atype=iPhone&amp;_source=NIMAppStore511&amp;_fs=NIMAppStore511&amp;_swidth=640&amp;_network=2&amp;_mgj=%@&amp;title=最热&amp;from=hot_element&amp;login=false&amp;fcid=6550&amp;q=最热&amp;track_id=1377824666&amp;homeType=shopping</string>
	<string>http://www.mogujie.com/app_mgj_v511_book/clothing?_adid=5503509D-800B-45EF-B767-F6586FFF165E&amp;_did=0f607264fc6318a92b9e13c65db7cd3c&amp;_atype=iPhone&amp;_source=NIMAppStore511&amp;_fs=NIMAppStore511&amp;_swidth=640&amp;_network=2&amp;_mgj=44a3127a003d8553116fb5391f58daf31381908202&amp;title=%E6%9C%80%E7%83%AD&amp;from=hot_element&amp;login=false&amp;fcid=6550&amp;q=%E6%9C%80%E7%83%AD&amp;track_id=1377824666&amp;homeType=shopping</string>
	<string>http://www.mogujie.com/app_mgj_v511_book/clothing?_adid=5503509D-800B-45EF-B767-F6586FFF165E&amp;_did=0f607264fc6318a92b9e13c65db7cd3c&amp;_atype=iPhone&amp;_source=NIMAppStore511&amp;_fs=NIMAppStore511&amp;_swidth=640&amp;_network=2&amp;_mgj=57aa32748665e618a58807c332cfa35f1381908317&amp;title=%E6%9C%80%E7%83%AD&amp;mbook=eyJxIjoiXCJcdTY3MDBcdTcwZWRcIiIsInFfbmF0dXJhbCI6Ilx1NjcwMFx1NzBlZCIsInNvcnQiOiJob3Q3ZGF5IiwiY2Jvb2siOjEsImFjdGlvbiI6ImNsb3RoaW5nIiwicGFnZSI6NCwidHlwZSI6ImFsbCIsImNnb29kcyI6MSwidGltZV9mYWN0b3IiOiIxNV81IiwiZmNpZCI6IjY1NTAiLCJpc19hZF9uZXciOjAsImlzRmlsdGVyIjp0cnVlLCJwZXJwYWdlIjo1MH0%253D&amp;from=hot_element&amp;login=false&amp;fcid=6550&amp;q=%E6%9C%80%E7%83%AD&amp;track_id=1377824666&amp;homeType=shopping
</string>
	<string>http://www.mogujie.com/app_mgj_v511_book/clothing?_adid=5503509D-800B-45EF-B767-F6586FFF165E&amp;_did=0f607264fc6318a92b9e13c65db7cd3c&amp;_atype=iPhone&amp;_source=NIMAppStore511&amp;_fs=NIMAppStore511&amp;_swidth=640&amp;_network=2&amp;_mgj=c2f6bb65f3074b7ee5ac579998e7bb3d1381908301&amp;title=%E6%9C%80%E7%83%AD&amp;mbook=eyJxIjoiXCJcdTY3MDBcdTcwZWRcIiIsInFfbmF0dXJhbCI6Ilx1NjcwMFx1NzBlZCIsInNvcnQiOiJob3Q3ZGF5IiwiY2Jvb2siOjEsImFjdGlvbiI6ImNsb3RoaW5nIiwicGFnZSI6NCwidHlwZSI6ImFsbCIsImNnb29kcyI6MSwidGltZV9mYWN0b3IiOiIxNV81IiwiZmNpZCI6IjY1NTAiLCJpc19hZF9uZXciOjAsImlzRmlsdGVyIjp0cnVlLCJwZXJwYWdlIjo1MH0%253D&amp;from=hot_element&amp;login=false&amp;fcid=6550&amp;q=%E6%9C%80%E7%83%AD&amp;track_id=1377824666&amp;homeType=shopping</string>
	<string>http://www.mogujie.com/app_mgj_v511_book/clothing?_adid=5503509D-800B-45EF-B767-F6586FFF165E&amp;_did=0f607264fc6318a92b9e13c65db7cd3c&amp;_atype=iPhone&amp;_source=NIMAppStore511&amp;_fs=NIMAppStore511&amp;_swidth=640&amp;_network=2&amp;_mgj=44a3127a003d8553116fb5391f58daf31381908202&amp;title=%E6%9C%80%E7%83%AD&amp;from=hot_element&amp;login=false&amp;fcid=6550&amp;q=%E6%9C%80%E7%83%AD&amp;track_id=1377824666&amp;homeType=shopping</string>
	<string>http://www.mogujie.com/app_mgj_v511_book/clothing?_adid=5503509D-800B-45EF-B767-F6586FFF165E&amp;_did=0f607264fc6318a92b9e13c65db7cd3c&amp;_atype=iPhone&amp;_source=NIMAppStore511&amp;_fs=NIMAppStore511&amp;_swidth=640&amp;_network=2&amp;_mgj=ac0a7147efda9b981881e8afa3fdd09c1381908271&amp;title=%E6%9C%80%E7%83%AD&amp;mbook=eyJxIjoiXCJcdTY3MDBcdTcwZWRcIiIsInFfbmF0dXJhbCI6Ilx1NjcwMFx1NzBlZCIsInNvcnQiOiJob3Q3ZGF5IiwiY2Jvb2siOjEsImFjdGlvbiI6ImNsb3RoaW5nIiwicGFnZSI6NCwidHlwZSI6ImFsbCIsImNnb29kcyI6MSwidGltZV9mYWN0b3IiOiIxNV81IiwiZmNpZCI6IjY1NTAiLCJpc19hZF9uZXciOjAsImlzRmlsdGVyIjp0cnVlLCJwZXJwYWdlIjo1MH0%253D&amp;from=hot_element&amp;login=false&amp;fcid=6550&amp;q=%E6%9C%80%E7%83%AD&amp;track_id=1377824666&amp;homeType=shopping</string>
</array>
</plist>
